@import url(css/font-awesome.min.css);
@import url(css/expand-icons.css);
.wb-accordion .accordion-title {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(center bottom , #f7f7f7 0%, #ffffff 100%);
    border: 1px solid #ddd;
    border-radius: 0px;
    cursor: pointer;
    display: block;
    margin: 0;
    border-bottom: 0px;
}
.wb-accordion .accordion-title.open {
	border-bottom: 1px solid #ddd;
}
.wb-accordion .accordion-title:last-of-type {
	border-bottom: 1px solid #ddd;
}
.wb-accordion .accordion-title a, .wb-accordion .accordion-title a:link, .wb-accordion .accordion-title a:visited  {
    border-left: medium none #ddd;
    color: #444;
    display: block;
    font-weight: bold;
    outline: medium none;
    padding: 0px 10px;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    margin-left: 40px;
}
.wb-accordion.icon-right .accordion-title a, .wb-accordion.icon-right .accordion-title a:link, .wb-accordion.icon-right .accordion-title a:visited  {
	margin-left: 0px;
	margin-right: 40px;
}
.wb-accordion .accordion-title a:before{
	border-right: 1px solid #f1f1f1;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    margin: 0 15px 0 0;
    padding: 0;
    text-decoration: inherit;
    width: 40px;
    text-align: center;
    position: absolute;
    left: -40px;
    height: 100%;
    font-size: 14px;
}
.wb-accordion p{
	margin: 0;
	padding: 5px 0;
}
.wb-accordion.icon-right .accordion-title a:before{
	display: none;
	border: 0px;
}
.wb-accordion.icon-right .accordion-title a:after{
	border-left: 1px solid #f1f1f1;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    margin: 0 0 0 15px;
    padding: 0;
    text-decoration: inherit;
    width: 40px;
    text-align: center;
    position: absolute;
  	top: 0;
    right: -40px;
    height: 100%;
    font-size: 14px;
}
