@import url(css/font-awesome.min.css);
.wb-accordion {
	font-family: Arial,sans-serif;
}
.wb-accordion .accordion-title {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(center bottom , #f7f7f7 0%, #ffffff 100%);
    border: 1px solid #ddd;
    border-radius: 0px;
    cursor: pointer;
    display: block;
    margin: 0;
    border-bottom: 0px;
}
.wb-accordion .accordion-title.open {
	border-bottom: 1px solid #ddd;
}
.wb-accordion .accordion-title:last-of-type {
	border-bottom: 1px solid #ddd;
}
.wb-accordion .accordion-title a, .wb-accordion .accordion-title a:link, .wb-accordion .accordion-title a:visited  {
    border-left: medium none #ddd;
    color: #444;
    display: block;
    font-weight: bold;
    outline: medium none;
    padding: 0px 10px;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    margin-left: 40px;
}
.wb-accordion.icon-right .accordion-title a, .wb-accordion.icon-right .accordion-title a:link, .wb-accordion.icon-right .accordion-title a:visited  {
	margin-left: 0px;
	margin-right: 40px;
}
.wb-accordion .accordion-title a:before{
	border-right: 1px solid #f1f1f1;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    margin: 0 15px 0 0;
    padding: 0;
    text-decoration: inherit;
    width: 40px;
    text-align: center;
    position: absolute;
    left: -40px;
    height: 100%;
    font-size: 14px;
}
.wb-accordion p{
	margin: 0;
	padding: 5px 0;
}
.wb-accordion.icon-right .accordion-title a:before{
	display: none;
	border: 0px;
}
.wb-accordion.icon-right .accordion-title a:after{
	border-left: 1px solid #f1f1f1;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    margin: 0 0 0 15px;
    padding: 0;
    text-decoration: inherit;
    width: 40px;
    text-align: center;
    position: absolute;
  	top: 0;
    right: -40px;
    height: 100%;
    font-size: 14px;
}
/*---------------------------------------- Plus/Minus (default) -----------------------------------------*/
.wb-accordion .accordion-title a:before { 
	content: "\f067"; /*plus icon*/
}
.wb-accordion .accordion-title.open a:before { 
	content: "\f068"; /*minus icon*/
}
.wb-accordion.icon-right .accordion-title a:after { 
	content: "\f067"; /*plus icon*/
}
.wb-accordion.icon-right .accordion-title.open a:after { 
	content: "\f068"; /*minus icon*/
}
/*---------------------------------------- Chevron Right/Chevron up -----------------------------------------*/
.wb-accordion.chevrons .accordion-title a:before { 
	content: "\f054"; /*chevron right*/
}
.wb-accordion.chevrons .accordion-title.open a:before { 
	content: "\f078"; /*chevron down*/
}
.wb-accordion.icon-right.chevrons .accordion-title a:after { 
	content: "\f054"; /*chevron right*/
}
.wb-accordion.icon-right.chevrons .accordion-title.open a:after { 
	content: "\f078"; /*chevron down*/
}
/*---------------------------------------- Plus sign/Minus sign -----------------------------------------*/
.wb-accordion.signs .accordion-title a:before { 
	content: "\f055"; /*icon minus sign*/
}
.wb-accordion.signs .accordion-title.open a:before { 
	content: "\f056"; /*icon plus sign*/
}
.wb-accordion.icon-right.signs .accordion-title a:after { 
	content: "\f055"; /*icon minus sign*/
}
.wb-accordion.icon-right.signs .accordion-title.open a:after { 
	content: "\f056"; /*icon plus sign*/
}
/*---------------------------------------- Caret right/Caret up -----------------------------------------*/
.wb-accordion.carets .accordion-title a:before { 
	content: "\f0da"; /*icon minus sign*/
}
.wb-accordion.carets .accordion-title.open a:before { 
	content: "\f0d7"; /*icon plus sign*/
}
.wb-accordion.icon-right.carets .accordion-title a:after { 
	content: "\f0da"; /*icon minus sign*/
}
.wb-accordion.icon-right.carets .accordion-title.open a:after { 
	content: "\f0d7"; /*icon plus sign*/
}
/*---------------------------------------- Circle arrow right/Circle arrow up -----------------------------------------*/
.wb-accordion.circle-arrows .accordion-title a:before { 
	content: "\f0a9"; /*icon circle arrow right*/
}
.wb-accordion.circle-arrows .accordion-title.open a:before { 
	content: "\f0ab"; /*icon circle arrow down*/
}
.wb-accordion.icon-right.circle-arrows .accordion-title a:after { 
	content: "\f0a9"; /*icon circle arrow right*/
}
.wb-accordion.icon-right.circle-arrows .accordion-title.open a:after { 
	content: "\f0ab"; /*icon circle arrow down*/
}